<div id="CardIndex"></div>
<div class="text-cyan-500 pl-5">
  カードを作成したら 
  <%= link_to your_decks_path do %>
    <i class="bi bi-person-fill"></i>
    <span class="text-[15px] ml-4 font-bold text-orange-600">デッキ編集</span>
  <% end %>
    に移動してデッキを作成しましょう
</div>