<%# <%= render 'decks_ index', decks: @your_decks %>
<%# <div id="yourDeckIndex" class=""></div> %>
<div id="deckForm"></div>

<div class="p-4 text-cyan-600">
  デッキを作成後、デッキを選択した状態で
  <span class="text-teal-400 font-bold">カード選択</span>
  タブに移り、デッキ編成を更新しましょう
</div>